body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif;
  }
  
  #mastbanner {
    background-color: rgb(240, 240, 240);
    color: hsl(0, 0%, 28%);
    font-size: 1rem;
    max-width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  #mastheadImage {
    max-height: 100%;
    position: absolute;
    margin-top: 0;
  }
  
  #textContainer {
    position: relative;
    margin-left: 4%;
  }
  
  #checkerHeader {
    padding-top: 5rem;
    text-align: center;
    color: rgb(26, 24, 21);
    font-family: "Open Sans", sans-serif;
    position: relative;
  }
  
  #myHeader {
    margin-bottom: 35px;
  }
  
  .headerPara {
    line-height: 0;
  }
  
  #search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif;
    border-bottom: 1.5px solid #bbb4b4;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4285f4;
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3c78d8;
  }
  
  .resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 5px auto 0;
  }
  
  #retryButton {
    display: none;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .result {
    display: none;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif;
    top: 70%;
    left: 50%;
    padding-bottom: 5px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    position: absolute;
  }
  
  #headerResult {
    display: none;
    text-align: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif;
    margin-bottom: 5px;
  }
  
  #trustedResult,
  #notTrustedResult {
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    display: none;
  }
  
  #About {
    position: fixed;
    text-align: right;
    bottom: 5ch;
    left: 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    padding-left: 1%;
  }
  
  #disclaimer {
    position: fixed;
    text-align: right;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    padding-left: 1%;
  }
  
  #status {
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  
