body {
  margin: 0;
  padding: 0;
}

#mastbanner {
  background-color: rgb(240, 240, 240);
  color: hsl(0, 0%, 28%);
  font-size: 1rem;
  max-width: 100%;
  height: 50px;
  position: relative;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
  display: flex;
  align-items: center;
}

#mastheadImage {
  max-height: 100%;
  position: absolute;
  margin-top: 0;
}

#textContainer {
  position: relative;
  left: 4rem;
}

#aboutHeader {
  padding-top: 5rem 10%;
  padding: 5rem;
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;
  color: rgb(26, 24, 21);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: relative;
}

#goHome {
  position: fixed;
  text-align: right;
  bottom: 45%;
  right: 25%;
  align-items: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
    font-size: 1rem;
}

#disclaimer {
  position: fixed;
  text-align: right;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  font-size: 0.8rem;
  padding-left: 1%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

#status {
  text-align: left;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 0.8rem;
  padding-right: 1%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

@media only screen and (max-width: 768px) {
  #aboutHeader {
    padding: 5rem 5%; /* Adjusted padding for smaller screens */
  }

  #goHome {
    right: 2%; /* Adjusted for smaller screens */
  }
}
